/* app */

.container {
    max-width: 630px;
    margin: auto;
    border: 3px solid #141414;
    padding: 10px;
}

html,
body,
input,
button,
form {
    border: none;
    outline: none;
    padding: 5px;
    margin: 5px;
    font-size: 18px;
    overflow: auto;
}

button {
    cursor: pointer;
    border: 3px solid white;
    background: black;
    color: white;
    margin-top: 20px;
    text-transform: uppercase;
}

button:hover {
    border: 3px solid yellow;
    color: yellow;
}

.label {
    transition: .3s;
    z-index: 1;
    color: orange;
    padding-left: 20px;
}

input {
    background: #1f1f1f;
    color: #fcf684;
    min-width: 350px;
}

.fa {
    padding: 5px;
}

.error-input {
    color: red;
    display: none;
    padding: 5px;
    border-top: 3px solid red;
}

.success-input {
    color: green;
    display: none;
    padding: 5px;
    border-top: 3px solid green;
}

.title {
    color: orange;
    font-size: 20px;
    /* border-bottom: 3px solid orange; */
    font-weight: bold;
    text-transform: uppercase;
}

.main-title {
    font-weight: bold;
    color: black;
    font-size: 25px;
}

th {
    border-bottom: 3px solid orange;
    padding: 5px;
}
.header-table {
    text-align: center;
    color: orange;
}